<app-list-search></app-list-search>
<br>
<div class="container">
<div class="row">
        <div class="col-md-3">
                <div class="card" style="width:16.5rem;height:19rem;" [routerLink]="['/detailproperty']" >
                      <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                          <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                      <div class="card-body"style="color:black;margin-top:-10%;">
                          <a class="card-text" >
                              <label>Opposite to e-square building</label>
                              Brand New Property for sale
                          </a><br><br>
                          <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                          </div>
                      </div>
                  </div>
              </div>         <div class="col-md-3">
                    <div class="card" style="width:16.5rem;height:19rem;" [routerLink]="['/detailproperty']" >
                          <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                              <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                          <div class="card-body"style="color:black;margin-top:-10%;">
                              <a class="card-text" >
                                  <label>Opposite to e-square building</label>
                                  Brand New Property for sale
                              </a><br><br>
                              <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                  <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                  <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                  <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                              </div>
                          </div>
                      </div>
                  </div>         <div class="col-md-3">
                        <div class="card" style="width:16.5rem;height:19rem;" [routerLink]="['/detailproperty']" >
                              <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                                  <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                              <div class="card-body"style="color:black;margin-top:-10%;">
                                  <a class="card-text" >
                                      <label>Opposite to e-square building</label>
                                      Brand New Property for sale
                                  </a><br><br>
                                  <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                      <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                      <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                      <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                  </div>
                              </div>
                          </div>
                      </div>         <div class="col-md-3">
                            <div class="card" style="width:16.5rem;height:19rem;" [routerLink]="['/detailproperty']" >
                                  <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                                      <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                                  <div class="card-body"style="color:black;margin-top:-10%;">
                                      <a class="card-text" >
                                          <label>Opposite to e-square building</label>
                                          Brand New Property for sale
                                      </a><br><br>
                                      <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                          <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                          <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                          <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                      </div>
                                  </div>
                              </div>
                          </div>
</div>
<hr>
<div class="row">
        <div class="col-md-3">
                <div class="card" style="width:16.5rem;height:19rem;" [routerLink]="['/detailproperty']" >
                      <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                          <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                      <div class="card-body"style="color:black;margin-top:-10%;">
                          <a class="card-text" >
                              <label>Opposite to e-square building</label>
                              Brand New Property for sale
                          </a><br><br>
                          <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                          </div>
                      </div>
                  </div>
              </div>         <div class="col-md-3">
                    <div class="card" style="width:16.5rem;height:19rem;" [routerLink]="['/detailproperty']" >
                          <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                              <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                          <div class="card-body"style="color:black;margin-top:-10%;">
                              <a class="card-text" >
                                  <label>Opposite to e-square building</label>
                                  Brand New Property for sale
                              </a><br><br>
                              <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                  <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                  <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                  <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                              </div>
                          </div>
                      </div>
                  </div>         <div class="col-md-3">
                        <div class="card" style="width:16.5rem;height:19rem;" [routerLink]="['/detailproperty']" >
                              <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                                  <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                              <div class="card-body"style="color:black;margin-top:-10%;">
                                  <a class="card-text" >
                                      <label>Opposite to e-square building</label>
                                      Brand New Property for sale
                                  </a><br><br>
                                  <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                      <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                      <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                      <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                  </div>
                              </div>
                          </div>
                      </div>         <div class="col-md-3">
                            <div class="card" style="width:16.5rem;height:19rem;" [routerLink]="['/detailproperty']" >
                                  <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                                      <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                                  <div class="card-body"style="color:black;margin-top:-10%;">
                                      <a class="card-text" >
                                          <label>Opposite to e-square building</label>
                                          Brand New Property for sale
                                      </a><br><br>
                                      <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                          <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                          <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                          <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                      </div>
                                  </div>
                              </div>
                          </div>
</div>
</div>