<form #frmo="ngForm">      
<div class="div">
     <input type="text" placeholder="ok" ngModel name="one">
     <input type="text" placeholder="ok" ngModel name="two">
    <input type="button" class="btn btn-primary" value="conti" (click)="one()">
</div>
<div class="div">
         <input type="text" placeholder="ok" ngModel name="three">
         <input type="text" placeholder="ok" ngModel name="four">
        <input type="button" class="btn btn-primary" value="conti" (click)="two()">
</div>
<div class="div">
     <input type="text" placeholder="ok" ngModel name="five">
     <input type="text" placeholder="ok" ngModel name="six">
    <input type="button" class="btn btn-primary" value="conti" (click)="three(frmo)">
</div>
</form>
