<section style="background:#efefe9;">
    <form #subProprtyFrm="ngForm">
        <div class="container">
            <div class="row">
                <div class="board">
                    <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                     <li [ngClass]="{'active':tab1}">
                     <a href="#user" title="User">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-user"></i>
                      </span> 
                  </a></li>
    
                  <li [ngClass]="{'active':tab2}"><a title="home">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-home"></i>
                     </span> 
                     </a>
                 </li>
                 <li [ngClass]="{'active':tab3}"><a title="features">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-gift"></i>
                     </span> </a>
                     </li>
    
                     <li [ngClass]="{'active':tab4}"><a title="amenities">
                         <span class="round-tabs four">
                              <i class="glyphicon glyphicon-leaf"></i>
                         </span> 
                     </a></li>
    
                     <li [ngClass]="{'active':tab5}"><a title="completed">
                         <span class="round-tabs five">
                              <i class="glyphicon glyphicon-ok"></i>
                         </span> </a>
                     </li>
                     
                     </ul>
                    </div>


<!-- ******* USER START ********** -->

                     <div class="tab-content">
                      <div class="tab-pane fade in active" id="user">
                            <div class="col-md-12"style="font-size:14px;">
                                <h1 style="text-align:center;color:green;" ><b>User Details</b></h1><hr>
                                <div class="col-md-6">
                                    <label>Property Posted by</label>
                                    <div class="form-group">
                                        <select name="Posted By" class="form-control" style="font-size:14px;" ngModel>
                                            <option value="owner">Owner</option>
                                            <option value="agent">Agent</option>
                                            <option value="builder">Builder</option>
                                        </select>
                                         </div>
                                    </div>
                                <div class="col-md-6">
                                    <label>Full Name</label>                                       
                                    <input type="text" placeholder="Full Name" name="fullName" ngModel>
                                </div>
                            </div>
                            <div class="col-md-12"style="font-size:14px;">
                                <div class="col-md-6">
                                    <label>Mobile Number</label>
                                    <input type="text" placeholder="Mobile Number" name="mobileNo"ngModel>
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>                                       
                                    <input type="text" placeholder="Email" name="email"ngModel>
                                </div>
                            </div >
                        <div style="float:right;margin-top:15px;" >
                            <input type="button" class="btn btn-outline-success " value="Next" href="#home" (click)="fun2()"data-toggle="tab">
                        </div>
                      </div>
<!-- ******** USER END -->

                      <div class="tab-pane fade" id="home">
                            <h1 style="text-align:center;color:orange;" ><b>Property Details</b></h1><hr>                           
                            <div class="col-md-12"style="font-size:14px;">
                                <div class="col-md-6">
                                    <label>Property Name</label>                                       
                                    <input type="text" placeholder="Property Name" name="propertyName"ngModel>
                                </div>
                                <div class="col-md-6">
                                    <label>Property Type</label>
                                    <div class="form-group" >
                                        <select name="propertytype" ngModel class="form-control" style="font-size:14px;">
                                            <option value="residential">Residential</option>
                                            <option value="commercial">Commercial</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="font-size:14px;margin-left:10px;">
                                <label>Something about property</label>
                                <textarea placeholder="Description about property" name="propertyDescription"ngModel></textarea>
                            </div>
                                <div class="col-md-12">
                                    <h3 style="margin-left:10px;color:rgb(255, 162, 0);margin-top:5px;"><b>Property Address</b></h3>
                                    <div class="col-md-12" style="font-size:14px;color:black">
                                        <div class="col-md-6">
                                            <label >State</label>
                                            <div class="form-group">
                                                <select name="state" class="form-control" style="font-size:14px;color:black" ngModel>
                                                    <option value="Maharashtra">Maharashtra</option>
                                                    <option value="Kerala">Kerala</option>
                                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>City</label>                                       
                                            <input type="text" placeholder="City"name="city"ngModel>
                                        </div>
                                        </div>
                                        <div class="col-md-12" style="font-size:14px;color:black">
                                            <div class="col-md-6">
                                                <label >Locality</label>
                                                <input type="text" placeholder="Locality" name="locality"ngModel>                                        
                                            </div>
                                            <div class="col-md-6">
                                                <label>Address</label>                                       
                                                <input type="text" placeholder="Address"name="address"ngModel>
                                            </div>
                                        </div>
                                        <div style="float:right;margin-top:20px;" >
                                            <input type="button" class="btn btn-outline-warning " value="Previous" (click)="fun1()"href="#user" data-toggle="tab">
                                            <input type="button" class="btn btn-outline-success " value="Next" (click)="fun3()"href="#leaf" data-toggle="tab">                                                
                                        </div>
                            </div>
                      </div>
<!-- **************  PROPERTY DETAIL ENDS -->

                      <div class="tab-pane fade" id="leaf">
                            <h1 style="text-align:center;color:rgb(11, 39, 121);" ><b>Property Features</b></h1><hr>  
                            <div class="col-md-12"style="font-size:14px;">
                                <div class="col-md-6">
                                    <label>Project Total Towers</label>                                       
                                    <input type="text" placeholder="Total Towers"name="totalTower"ngModel>
                                </div>
                                <div class="col-md-6">
                                    <label>Project Total Units</label>                                       
                                    <input type="text" placeholder="Total Units"name="totalUnits"ngModel>
                                </div>
                            </div><br>
                            
                            <div class="col-md-12"style="font-size:14px;">
                                <div class="col-md-6">
                                    <label>Project Available Units</label>                                       
                                    <input type="text" placeholder="Available Units"name="avilableUnits"ngModel>
                                </div>
                                <div class="col-md-6">
                                    <label>Project Launch Date</label>                                       
                                    <input type="text" placeholder="Launch Date"name="launchDate"ngModel>
                                </div>
                            </div>
                            <div class="col-md-12"style="font-size:14px;">
                                <div class="col-md-6">
                                    <label>Select Property to Add</label>
                                    <div class="form-group">
                                        <select name="property" class="form-control" style="font-size:14px;" ngModel>
                                            <option value="1 RK">1 RK</option>
                                            <option value="1 BHK">1 BHK</option>
                                            <option value="2 BHK">2 BHK</option>
                                            <option value="3 BHK">3 BHK</option>
                                            <option value="Greater than 3 BHK">Greater than 3 BHK</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12"style="font-size:14px;">
                                <h3 style="color:rgb(11, 39, 121);" ><b>Add Details about Property</b></h3><hr>  
                                <div class="card" *ngIf="!del">
                                    <a (click)="del=!del"><i class="material-icons" placement="top" ngbTooltip="Delete Details" >delete</i></a>
                                    <div class="card-body">
                                        <div class="card-text">
                                            <div class="col-md-6">
                                                <label style="font-size:14px;">Number of Flats</label>                                       
                                                <input type="text" placeholder="No.of flats" name="numOfFlats"ngModel>
                                            </div>  
                                            <div class="col-md-6">
                                                <label style="font-size:14px;">Average Area</label>                                       
                                                <input type="text" placeholder="Average Area"name="averageArea"ngModel>
                                            </div>
                                            <div class="col-md-6">
                                                <label style="font-size:14px;">Available For</label>
                                                <div class="form-group">
                                                    <select name="AvailFor" ngModel class="form-control" style="font-size:14px;">
                                                        <option value="Family">Family</option>
                                                        <option value="Batchlor">Batchlor</option>
                                                        <option value="Anyone">Anyone</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label style="font-size:14px;">Starting Price</label>  
                                                <input type="text" placeholder="Starting Price"name="startingPrice"ngModel>
                                            </div>         
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-12"style="font-size:14px;">
                                    <h3 style="color:rgb(11, 39, 121);margin-top:10px;" ><b>Area Details</b></h3><hr>  
                                    <div class="card" >
                                        <div class="card-body">
                                            <div class="card-text">
                                                <div class="col-md-6">
                                                    <div class="col-md-4">
                                                        <label style="font-size:14px;">Covered Area</label>                                       
                                                        <input type="text" placeholder="Covered Area" name="coveredArea"ngModel>
                                                     </div>
                                                     <div class="col-md-2" style="margin-top:23px;" >
                                                        <div class="form-group">
                                                            <select name="coverAreaUnit" ngModel class="form-control" style="font-size:14px;">
                                                                <option value="Sqft">Sqft</option>
                                                                <option value="SqYard">SqYard</option>
                                                                <option value="Sqm">Sqm</option>
                                                            </select>
                                                        </div>
                                                     </div>

                                                     <div class="col-md-4">
                                                        <label style="font-size:14px;">Plot Area</label>                                       
                                                        <input type="text" placeholder="Plot Area"name="plotArea"ngModel>
                                                    </div>
                                                <div class="col-md-2" style="margin-top:23px;" >
                                                    <div class="form-group">
                                                        <select name="plotAreaUnit" class="form-control" style="font-size:14px;">
                                                            <option value="Sqft">Sqft</option>
                                                            <option value="SqYard">SqYard</option>
                                                            <option value="Sqm">Sqm</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                </div>  
                                                <div class="col-md-6">
                                                    <div class="col-md-4">
                                                        <label style="font-size:14px;">Carpet Area</label>                                       
                                                        <input type="text" placeholder="Covered Area"name="carpetArea"ngModel>
                                                     </div>
                                                     <div class="col-md-2" style="margin-top:23px;" >
                                                        <div class="form-group">
                                                            <select name="crptAreaUnit" class="form-control" style="font-size:14px;">
                                                                <option value="Sqft">Sqft</option>
                                                                <option value="SqYard">SqYard</option>
                                                                <option value="Sqm">Sqm</option>
                                                            </select>
                                                        </div>
                                                     </div>

                                                     <div class="col-md-4">
                                                        <label style="font-size:14px;">Plot Length</label>                                       
                                                        <input type="text" placeholder="Plot Length"name="plotLength"ngModel>
                                                    </div>
                                                <div class="col-md-2" style="margin-top:23px;" >
                                                    <div class="form-group">
                                                        <select name="plotLengthUnit" class="form-control" style="font-size:14px;">
                                                            <option value="Sqft">Sqft</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                </div>  
                                                <div class="col-md-6">
                                                    <div class="col-md-4">
                                                        <label style="font-size:14px;">Price Per sq-ft</label>                                       
                                                        <input type="text" placeholder="Price"name="price"ngModel>
                                                     </div>
                                                     <div class="col-md-2" style="margin-top:23px;" >
                                                        <div class="form-group">
                                                            <select name="pricunit" ngModel class="form-control" style="font-size:14px;">
                                                                <option value="Sqft">Sqft</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">                                                    
                                                    <div class="col-md-4">
                                                        <label style="font-size:14px;">Plot Breadth</label>                                       
                                                        <input type="text" placeholder="Plot Breadth"name="plotBreadth"ngModel>
                                                    </div>
                                                 <div class="col-md-2" style="margin-top:23px;" >
                                                    <div class="form-group">
                                                        <select name="plotBreadthUnit" ngModel class="form-control" style="font-size:14px;">
                                                            <option value="Sqft">Sqft</option>
                                                        </select>
                                                    </div>
                                                 </div>
                                                </div>      
                                            </div>
                                        </div>
                                    </div>
                                    <div style="float:right;margin-top:20px;" >
                                        <input type="button" class="btn btn-outline-warning " value="Previous" (click)="fun2()"href="#home" data-toggle="tab">
                                        <input type="button" class="btn btn-outline-success" value="Next" (click)="fun4()"href="#gift" data-toggle="tab">                                                
                                    </div>
                                </div>                                    
                      </div>
<!-- ************ PROPERTY ENDS 2-3 Pge -->
    <div class="tab-pane fade" id="gift">
        <h1 style="text-align:center;color: #f34a3e" ><b>Transaction and Amenities</b></h1><hr>  
        <div class="col-md-12">
        <div class="col-md-6"style="font-size:14px;">
                <label>Transaction Type</label><br>
                <input type="radio" name="TransactionType" ngModel value="New Property"> New Property &nbsp;
                <input type="radio" name="TransactionType" ngModel value="Resale"> Resale<br><br>
                <label>Possession Status</label><br>
                <input type="radio" name="PossessionStatus" ngModel value="Ready to move"> Ready to move &nbsp;
                <input type="radio" name="PossessionStatus" ngModel value=" Under Construction"> Under Construction<br>
        </div>
        <div class="col-md-6"style="font-size:14px;">
        <label> Age of Property</label>
            <div class="form-group">
            <select name="propertyAge" ngModel class="form-control" style="font-size:14px;">
                <option value="0-1 year">0-1 year</option>
                <option value="1-2 years">1-2 years</option>
                <option value="2-3 years">2-3 years</option>
                <option value="Grater than 3 years">Grater than 3 years</option>
            </select>
            </div>
            <label>Project Available on Date</label>
            <input type="date" name="projAvailDate" ngModel>
        </div>
    </div><br> &nbsp;
    <div style="margin-top:15px;">
    <h2 style="text-align:center;color:#f34a3e"><b style="margin-top:15px;">Add Amenities</b></h2>
    </div><hr>
    <div class="col-md-12">
        <div class="col-md-3" style="font-size:14px;">
                <input type="checkbox" name="Amenities" ngModel value="Club House">&nbsp;Club House  <br>
                <input type="checkbox" name="Amenities" ngModel value="Coffee Lounge & Restaurent">&nbsp;Coffee Lounge & Restaurent  <br>
                <input type="checkbox" name="Amenities" ngModel value="Cafeteria/Food Court">&nbsp;Cafeteria/Food Court  <br>
                <input type="checkbox" name="Amenities" ngModel value="Bar/Lounge">&nbsp;Bar/Lounge  <br>
                <input type="checkbox" name="Amenities" ngModel value="Jogging And Strolling Track">&nbsp;Jogging And Strolling Track  <br>
                <input type="checkbox" name="Amenities" ngModel value="Outdoor & Tennis Court">&nbsp;Outdoor & Tennis Court  <br>
                <input type="checkbox" name="Amenities" ngModel value="Cycling & Jogging Track">&nbsp;Cycling & Jogging Track  <br>
                <input type="checkbox" name="Amenities" ngModel value="Private Terrace/Garden">&nbsp;Private Terrace/Garden  <br>
                <input type="checkbox" name="Amenities" ngModel value="Barbeque Pit">&nbsp;Barbeque Pit  <br>
                <input type="checkbox" name="Amenities" ngModel value="Dance Studio">&nbsp;Dance Studio  <br>
                <input type="checkbox" name="Amenities" ngModel value="Power Back-up">&nbsp;Power Back-up  <br>
                <input type="checkbox" name="Amenities" ngModel value="Swimming Pool">&nbsp;Swimming Pool  <br>
                <input type="checkbox" name="Amenities" ngModel value="Lift">&nbsp;Lift  <br>
                
        </div>
        <div class="col-md-3"style="font-size:14px;">
                <input type="checkbox" name="Amenities" ngModel value="Multipurpose Court">&nbsp;Multipurpose Court<br>
                <input type="checkbox" name="Amenities" ngModel value="Meditation Area">&nbsp;Meditation Area<br>
                <input type="checkbox" name="Amenities" ngModel value="Vastu Compliant">&nbsp;Vastu Compliant<br>
                <input type="checkbox" name="Amenities" ngModel value="Internet/Wifi Connectivity">&nbsp;Internet/Wifi Connectivity<br>
                <input type="checkbox" name="Amenities" ngModel value="Waste Disposal">&nbsp;Waste Disposal<br>
                <input type="checkbox" name="Amenities" ngModel value="Conference Room">&nbsp;Conference Room<br>
                <input type="checkbox" name="Amenities" ngModel value="Early Learning Centre">&nbsp;Early Learning Centre<br>
                <input type="checkbox" name="Amenities" ngModel value="Event Space & Amphitheatre">&nbsp;Event Space & Amphitheatre<br>
                <input type="checkbox" name="Amenities" ngModel value="Fire Fighting Equipement">&nbsp;Fire Fighting Equipement<br>
                <input type="checkbox" name="Amenities" ngModel value="Concierge Services">&nbsp;Concierge Services<br>
                <input type="checkbox" name="Amenities" ngModel value="Security">&nbsp;Security<br>
                <input type="checkbox" name="Amenities" ngModel value="Canopy Walk">&nbsp; Canopy Walk<br> 
                <input type="checkbox" name="Amenities" ngModel value="Intercom Facility">&nbsp;Intercom Facility <br>
                
        </div>
        <div class="col-md-3"style="font-size:14px;">
                <input type="checkbox" name="Amenities" ngModel value="Water Storage">&nbsp; Water Storage<br>
                <input type="checkbox" name="Amenities" ngModel value="Air Conditioned">&nbsp; Air Conditioned<br>
                <input type="checkbox" name="Amenities" ngModel value="Badminton Court">&nbsp;Badminton Court <br>
                <input type="checkbox" name="Amenities" ngModel value="Arts & Crafts Studio">&nbsp;Arts & Crafts Studio <br>
                <input type="checkbox" name="Amenities" ngModel value="Bank & ATM">&nbsp; Bank & ATM<br>
                <input type="checkbox" name="Amenities" ngModel value="Banquet Hall">&nbsp;Banquet Hall <br>
                <input type="checkbox" name="Amenities" ngModel value="Guest Accomodation">&nbsp;Guest Accomodation <br>
                <input type="checkbox" name="Amenities" ngModel value="Gymnasium">&nbsp;Gymnasium <br>
                <input type="checkbox" name="Amenities" ngModel value="Indoor Games Room">&nbsp;Indoor Games Room <br>
                <input type="checkbox" name="Amenities" ngModel value="Kids Club">&nbsp;Kids Club <br>
                <input type="checkbox" name="Amenities" ngModel value="Kids Play Area">&nbsp;Kids Play Area <br>
                <input type="checkbox" name="Amenities" ngModel value="Aerobics Room">&nbsp;Aerobics Room <br>
                <input type="checkbox" name="Amenities" ngModel value="Flowers Garden">&nbsp;Flowers Garden<br>                
        </div>
        <div class="col-md-3"style="font-size:14px;">
                <input type="checkbox" name="Amenities" ngModel value="DTH Television Facility">&nbsp;DTH Television Facility"<br>
                <input type="checkbox" name="Amenities" ngModel value="Laundry Service">&nbsp;Laundry Service<br>
                <input type="checkbox" name="Amenities" ngModel value="Liabrary & Business Centre">&nbsp;Liabrary & Business Centre <br>
                <input type="checkbox" name="Amenities" ngModel value="Piped Gas">&nbsp;Piped Gas <br>
                <input type="checkbox" name="Amenities" ngModel value="Rain Water Harvesting ">&nbsp; Rain Water Harvesting <br>
                <input type="checkbox" name="Amenities" ngModel value="Recreational Pool">&nbsp;Recreational Pool <br>
                <input type="checkbox" name="Amenities" ngModel value="RO Water System">&nbsp;RO Water System <br>
                <input type="checkbox" name="Amenities" ngModel value="Reserved Parking">&nbsp;Reserved Parking<br>
                <input type="checkbox" name="Amenities" ngModel value="Service /Goods Lift">&nbsp;Service /Goods Lift <br>
                <input type="checkbox" name="Amenities" ngModel value="Visitors Parking">&nbsp;Visitors Parking <br>
                <input type="checkbox" name="Amenities" ngModel value="Maintenance Staff">&nbsp;Maintenance Staff <br>
                <input type="checkbox" name="Amenities" ngModel value="Kids Playpool with Water Slides">&nbsp;Kids Playpool with Water Slides<br>
                
        </div>
    </div>
    <div style="float:right;margin-top:20px;" >
            <input type="button" class="btn btn-outline-warning " value="Previous" (click)="fun3()"href="#leaf" data-toggle="tab">
            <input type="button" class="btn btn-success" style="color:#f1685e" value="Submit my Property" (click)="SubmitProperty(subProprtyFrm)"href="#doner" data-toggle="tab">                                                
        </div>
</div>
<!-- *************** SETTING ENDS 4 -->

<div class="tab-pane fade" id="doner">
    <div class="text-center">
    </div>
    <div class="justify-content-center" > 
        <span class="round-tabs">
            
       </span>
    </div>
        <h3 class="head text-center">Your Property is Submitted Successfully&nbsp;
            <span style="color:#f48260;">♥</span><br>Thank You !!! </h3>
</div>
    <div class="clearfix"></div>
    </div>
    </div>
  </div>
</div>
</form>
</section>
                   