<nav class="navbar navbar-expand-lg navcol">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">£</span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#registerModel">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModel">Login</a>
      </li>
      
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-phone" style="font-size:24px"></i>+91 9156703802</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-envelope-o" style="font-size:24px"></i>developers@codekul.com</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-google" style="font-size:24px"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-twitter" style="font-size:24px"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-facebook" style="font-size:24px"></i></a>
      </li>
    </ul>
   
  </div>
</nav>



<!-- Login Modal Register -->
<div class="modal fade" id="registerModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form>
            <div class="form-group">
              <input type="email" class="form-control" id="fullname" placeholder="Full Name">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="Email" placeholder="Email">
            </div>
          <div class="form-group">
              <input type="text" class="form-control" id="mobilenumber" placeholder="Mobile Number">
          </div>
            <div class="form-group col-md-4">
               <select id="usertype" class="form-control">
                <option selected>User Type..</option>
                <option value="owner">Owner</option>
                <option value="agent">Agent</option>
                <option value="builder">Builder</option>
              </select>
            </div>
          <div class="form-group">
            <input type="text" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="confirmpass" placeholder="Confirm Password">
          </div><br>
          <button type="submit" class="btn btn-indigo btn-block">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- REGISTER MODEL END -->

<!-- LOGIN MODEL -->
<div class="modal fade" id="loginModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form>
            <div class="form-group">
              <input type="password" class="form-control" id="Email" placeholder="Email">
            </div>
          <div class="form-group">
            <input type="text" class="form-control" id="password" placeholder="Password">
          </div><br>
        <div class="col-md-12 text-center"> 
          <button type="submit" class="btn btn-indigo btn-block">Login</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>