<div class="div" style="background-color:#f3f3f3;">
  <div class="container"><br>
    <div class="toptxt"><h5>Property near Swargate and shivajinager listing</h5>
      <small>Balaji Apartment,near Balaji Nager<br>Pune,411002</small></div>
    <div class="row">
    <div class="col-md-8">
        <div class="card">
            <img class="card-img-top center" src="../../assets/b3.jpg" alt="    Loading Image.....">
            <div class="card-block">
             <div> <h4 class="card-title"><b>$ 1,30,000/-</b></h4>
              <span class="tag">For Sale</span>
            </div>
              <div class="col-md-4"></div>
              <div class="card-text">              
                <ul class="detail">
                  <li>
                      <span>Ownership Type</span>
                      <span>Villa</span>
                  </li>
                  <li>
                      <span>Property Area</span>
                      <span>2435+ sqft</span>
                  </li>
                  <li>
                      <span>Garages</span>
                      <span>04</span>
                  </li>
                  <li>
                      <span>Floors</span>
                      <span>03</span>
                  </li>
                  <li>
                      <span>Bedrooms</span>
                      <span>06</span>
                  </li>
                  <li>
                      <span>Bathrooms</span>
                      <span>06</span>
                  </li>
              </ul>
            </div>
            </div>
          </div>
          <br>
          <div class="card">
              <h5 class="card-title" style="margin:3% 0% 3% 3%;">Amenities</h5>
              <div class="card-text" style="margin:1% 2% 3% 3%;">
                  <p style="font-size:24px;"><span class="badge badge-dark">Primary</span>
                    <span class="badge badge-dark">Security</span>
                    <span class="badge badge-dark">Swimming Pool</span>
                    <span class="badge badge-dark">Seperate Parking</span>
                    <span class="badge badge-dark">Lift For Vehicles</span>
                    <span class="badge badge-dark">Door-Lock</span>
                    <span class="badge badge-dark">Fingerprint Lock</span>
                    <span class="badge badge-dark">River View</span>
                    <span class="badge badge-dark">Gym</span>
                  </p>  
              </div>
            </div><br>
        <div class="card">
          <h5 class="card-title" style="margin:3% 0% 3% 3%;">Property Overview</h5>
          <p class="card-text"style="margin:0% 3% 1% 3% "> These are the aminities provided by the Owner of property
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat 
              porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. 
              Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
              Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum 
              faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, 
              consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
              ut fermentum massa justo sit amet risus. Vestibulum id ligula porta felis euismod semper. 
              Donec ullamcorper nulla non metus auctor fringilla.
          </p>
        </div>
        <br>
    </div>




    <div class="col-md-4">
        <div class="card ">
          <div style="margin-left:3%">
            <h5 class="card-title" style="margin-top:3%;">Inquire this Property</h5>
            <p class="card-text">Call us now or send us your information</p>
            <button type="button" class="btn btn-danger btn-lg" style="padding: 1rem 4.4rem;">
            <i class="fa fa-phone" style="font-size:20px">&nbsp;+91 9156703802</i></button>
            <form #enquiryFrm="ngForm">
              <div>
                <!-- <label>Your Name</label>     -->
                <input type="text" placeholder="Name" name="enqName"ngModel>
              </div>         
              <div>
                <!-- <label>Email Address</label>     -->
                <input type="text" placeholder="Email" name="enqEmail"ngModel>
              </div> 
              <div>
                <!-- <label>Mobile Number</label>     -->
                <input type="text" placeholder="Mobile Number"name="enqMobile" ngModel>
              </div> 
              <div>
                <!-- <label>Message Me</label>     -->
                <input type="text" placeholder="Message me!!"name="enqMessage"ngModel>
              </div> 
              <div style="margin-left:8%;margin-top:8%;">
              <small class="text-muted" >By sending us your information, you agree to Roost’s Terms of Use & Privacy Policy.</small>
              </div><br>
              <button class="btn btn-indigo" >Submit Enquiry</button>            
        </form>
          </div>
        </div>


    </div> 
  </div>
  </div>
</div>