.submit-property{
    text-align: center;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #828282;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}