<div class="bcolor">
  <div class="container">
  <div class="input-group searchBoxsize" style="background-color:white;">
      <span class="input-group-addon" style="background-color:yellow">RENT</span>
      <input type="text" class="form-control"  (click)="new1()"placeholder="Enter the place,zip code" name="serchKey">
      <span class="input-group-addon" style="background-color:rgb(55, 72, 170);color:white;border-radius:0%">SEARCH</span>
  </div><br><br>
    <div style="text-align:center;color:white;">Properties nearby your location &nbsp;
        <i class="fa fa-map-marker" style="color:yellow;" aria-hidden="true">&nbsp;Pune</i>
    </div><br>

  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
        <button class="btn btn-primary btn-sm fa fa-5x fa-chevron-left  btn1" href="#multi-item-example" data-slide="prev"></button>
        <button class="btn btn-primary btn-sm fa fa-5x fa-chevron-right  btn2" href="#multi-item-example" data-slide="next"></button>
          <!-- <a class="btn-floating" href="#multi-item-example" data-slide="prev" ><i class="fa fa-chevron-left"></i></a>
          <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right " ></i></a> -->
    </div>
    <!--/.Controls-->

    <!--Indicators-->   
    <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">

            <div class="col-md-3">
            <div class="card" style="width:16.5rem;height:19rem;" [routerLink]="['/detailproperty']" >
                  <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                      <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                  <div class="card-body"style="color:black;margin-top:-10%;">
                      <a class="card-text" >
                          <label>Opposite to e-square building</label>
                          Brand New Property for sale
                      </a><br><br>
                      <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                          <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                          <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                          <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-3">
                  <div class="card" style="width:16.5rem;height:19rem;">
                        <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                            <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                        <div class="card-body"style="color:black;margin-top:-10%;">
                            <a class="card-text" >
                                <label>Opposite to e-square building</label>
                                Brand New Property for sale
                            </a><br><br>
                            <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                      <div class="card" style="width:16.5rem;height:19rem;">
                            <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                                <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                            <div class="card-body"style="color:black;margin-top:-10%;">
                                <a class="card-text" >
                                    <label>Opposite to e-square building</label>
                                    Brand New Property for sale
                                </a><br><br>
                                <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
    
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                          <div class="card" style="width:16.5rem;height:19rem;">
                                <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                                    <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                                <div class="card-body"style="color:black;margin-top:-10%;">
                                    <a class="card-text" >
                                        <label>Opposite to e-square building</label>
                                        Brand New Property for sale
                                    </a><br><br>
                                    <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
        
                                </div>
                            </div>
                        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

              <div class="col-md-3">
                      <div class="card" style="width:16.5rem;height:19rem;">
                            <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                                <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                            <div class="card-body"style="color:black;margin-top:-10%;">
                                <a class="card-text" >
                                    <label>Opposite to e-square building</label>
                                    Brand New Property for sale
                                </a><br><br>
                                <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
    
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                          <div class="card" style="width:16.5rem;height:19rem;">
                                <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                                    <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                                <div class="card-body"style="color:black;margin-top:-10%;">
                                    <a class="card-text" >
                                        <label>Opposite to e-square building</label>
                                        Brand New Property for sale
                                    </a><br><br>
                                    <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
        
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                              <div class="card" style="width:16.5rem;height:19rem;">
                                    <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                                        <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                                    <div class="card-body"style="color:black;margin-top:-10%;">
                                        <a class="card-text" >
                                            <label>Opposite to e-square building</label>
                                            Brand New Property for sale
                                        </a><br><br>
                                        <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        </div>
            
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                  <div class="card" style="width:16.5rem;height:19rem;">
                                        <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                                            <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                                        <div class="card-body"style="color:black;margin-top:-10%;">
                                            <a class="card-text" >
                                                <label>Opposite to e-square building</label>
                                                Brand New Property for sale
                                            </a><br><br>
                                            <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
      </div>
      <!--/.Second slide-->

      <!--Third slide-->
      <div class="carousel-item">

              <div class="col-md-3">
                      <div class="card" style="width:16.5rem;height:19rem;">
                            <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                                <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                            <div class="card-body"style="color:black;margin-top:-10%;">
                                <a class="card-text" >
                                    <label>Opposite to e-square building</label>
                                    Brand New Property for sale
                                </a><br><br>
                                <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
    
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                          <div class="card" style="width:16.5rem;height:19rem;">
                                <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                                    <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                                <div class="card-body"style="color:black;margin-top:-10%;">
                                    <a class="card-text" >
                                        <label>Opposite to e-square building</label>
                                        Brand New Property for sale
                                    </a><br><br>
                                    <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
        
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                              <div class="card" style="width:16.5rem;height:19rem;">
                                    <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                                        <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                                    <div class="card-body"style="color:black;margin-top:-10%;">
                                        <a class="card-text" >
                                            <label>Opposite to e-square building</label>
                                            Brand New Property for sale
                                        </a><br><br>
                                        <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        </div>
            
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                  <div class="card" style="width:16.5rem;height:19rem;">
                                        <img class="card-img-top center" src="../../assets/vs2.png" alt="Loading ...">
                                            <p style="margin-top:-10%;text-align:center;color:white;">$ 35,000/-</p>
                                        <div class="card-body"style="color:black;margin-top:-10%;">
                                            <a class="card-text" >
                                                <label>Opposite to e-square building</label>
                                                Brand New Property for sale
                                            </a><br><br>
                                            <div class="card-footer" style="text-align:center"><a><i class="fa fa-street-view" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a><i class="fa fa-handshake-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a><i class="fa fa-hospital-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
      </div>
      <!--/.Third slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
                      
  <div><br><br><br></div>             


</div>
</div>